.page {
    background-color: #F1FAEE;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}
  
.h2 {
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-size: 1.75rem;
}
