.header {
    color: white;
    background-color: #6C996E;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.tidbit {
    color: #000000;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
    cursor: pointer;
}